body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

#home {
  text-align: center;
}

#home h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

#home a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

#about {
  margin-bottom: 20px;
}

#about h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#books h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#books li {
  list-style: none;
  margin-bottom: 10px;
}

#books a {
  color: #333;
  text-decoration: none;
}

#news h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#news li {
  list-style: none;
  margin-bottom: 10px;
}

#news a {
  color: #333;
  text-decoration: none;
}

#contact {
  margin-bottom: 20px;
}

#contact h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#book-details {
  margin-bottom: 20px;
}

#book-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#news-details {
  margin-bottom: 20px;
}

#news-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
